for i in range(int (fromlvl), int(tolvl)):

if [i for i in ['зapaзHоCть', 'зapaз', '33'] if i = ability]: price += (i + 1)**2.5

ability string 'infectivity'

elif [i for i in [' иммунитет', 'иммун", "имун'] іf і ability]:

price += (i + 1)**2.45

ability_string 'immunity' =

elif [i for i in ['летальность", "летал", леталка ] if i == ability]: price += (i + 1)**1.95 ability_string

'lethality' elif [i for i in ['квалификация", "квала", "скорость ] if i ability]: price += (i + 1)**2.6

ability string = 'scientist qualification'

elif [i for i in ['патогены', 'паты", "патоген', 'пат'] if i == ability]

price += (i + 1)**2 ability_string = 'pathogens'

elif [i for i in ['безопасность, служба ] if i ability]: == price += (i + 1)**2.1

ability_string = security service'

else:

return
